<div *ngIf="fireService.fireauth.currentUser == null">
  <input placeholder="Email" [(ngModel)]="email" type="email">
  <input placeholder="Password" [(ngModel)]="password" type="password">
  <br>
  <button (click)="fireService.signIn(email, password)">Sign In</button>
  <button (click)="fireService.register(email, password)">Register</button>

</div>

<div *ngIf="fireService.fireauth.currentUser">
  <h1>Welcome, {{fireService.fireauth.currentUser.email}}</h1>
    <img (click)="fileInput.click()" style="max-height: 180px" [src]="fireService.currentSignedInUserAvatarURL">
    <input (change)="fireService.updateUserImage($event)" hidden #fileInput type="file">
<input [(ngModel)]="sendThisMessage">

<button (click)="fireService.sendMessage(sendThisMessage)">send message</button>

<p *ngFor="let m of fireService.messages">
  {{m | json}}
</p>
  <button (click)="fireService.signOut()">Sign Out</button>
</div>
